#faq-title {
	font-family: 'ZCOOL XiaoWei', serif;
	text-align:center;
	font-size: 24px;
padding-top: 15px;
}
p {
	display: block;
	margin: 0 0 10px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
#nav, #footer {
	background-color: #f7f7f7;
	padding: 1px;
	text-align: center;
	margin: auto;
}
#faq {
	overflow: auto;
}
.hero {
	margin-bottom: 0;
	background-image: url(https://theme.zdassets.com/theme_assets/1055880/dd385419fca3be9904f1b6ca7c445d157359649f.jpg);
	background-position: center;
	background-size: cover;
	height: 300px;
	text-align: center;
	width: 100%;
}
.hero-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;                
}
.search {
	width: 100%;
	position: relative;
}
.searchButton {
	position: absolute;
	width: 40px;
	height: 40px;
}
.searchTerm {
	font-family: monospace;
	width: 100%;
	border: 0px;
	padding: 0 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 115%;
}
.search-box {
	width: 45%;
	margin: 30 auto;
}
.panel {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	font-size: 110%;
	font-weight: bold;
	line-height: 2;
}
.group1 a, .group2 a {
	color: #007cc3;
}
.group1 a:hover, .group2 a:hover {
	color: #f36f21;
}
.group1, .group2 {
	width: 25%;
	float: left;
	margin-top: 5%;
	margin-bottom: 12%;
}

.group1 {
	margin-left: 25%;
	margin-right: 0;
}
.group2 {
	margin-left: 5%;
	margin-right: 0;
}