
#flight-title {
	font-size: 2.0em;
	font-weight: bold;
	color: DarkCyan;
	text-transform: uppercase;
	padding-top: 15px;
}
h4 {
	font-size: 105%;
	font-weight: bold;
	color: #646464;
}
#flight {
	overflow: auto;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 1%;
	margin-left: 1%;
}
#nav, #footer {
	background-color: #f7f7f7;
	padding: 1px;
	text-align: center;
	margin: auto;
}
#flight-deals{
	text-align: center;
	margin: 3rem 0;
}
.column {
	margin-bottom: 1em;
	padding: 0.5%;
}
.col-where, .col-when, .col-who {
	width: 32%;
	float: left;
	#background-color: #f7f7f7;
}
.col-where, .col-when {
	margin-right: 0.5%;
}
.col-who {
	margin-right: 0%;
}
.where-group, .when-group, .who-group{
	height: 60px;
	margin-bottom: 10px;
}
.where-text {
	width: 100%;
}
.when-date {
	width: 70%;
}
.time {
	width: 25%;
}
.where-text, .when-date {
	font-family: monospace;
	padding: 0 8px;
	height: 28px;
	box-sizing: border-box;
	border: none;
	background-color: white;
	border-radius: 4px;
}
::placeholder {
	color: #424242;
}
.input-group {
	height: 28px;
	padding: 5px 0;
}
.adults, .kids, .infants {
	width: 32.5%;
	float: left;
	margin-right: 0.5%;
}
.number {
	width: 90%;
}
.search {
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 16px;
	height: 53px;
	width: 95%;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	border-radius: 4px;
}
.time, .number {
	font-family: monospace;
	height: 28px;
	border: none;
	color: #424242;
	background-color: white;
	border-radius: 4px;
}
label {
	font-size: 80%;
	text-transform: uppercase;
}
.list {
	width: auto;
	margin-bottom: 2em;
}

@media screen and (min-width: 1600px){
	.deals img{
		margin-right: 11rem;
	}
	#img-right{
		float: right;
		margin-right: 0rem;
	}

}












