
            h1 {
                font-size: 2.0em;
                font-weight: bold;
                color: DarkCyan;
                text-transform: uppercase;
                padding-top: 15px;
            }
         
            h3 {
                font-size: 120%;
                font-weight: bold;
                color: #646464;
                text-align: center;
            }
            h4 {
                font-size: 105%;
                font-weight: bold;
                color: #646464;
            }
           
            #hotel {
                overflow: auto;
                width: auto;
                padding-left: 15px;
                padding-right: 15px;
                margin-right: 1%;
                margin-left: 1%;
            }
           .search-hotels{
                height: 241px;
           }
            .column {
                margin-bottom: 1em;
                padding: 0.5%;
            }
            .col-where, .col-when, .col-who {
                width: 32%;
                float: left;
                #background-color: Black;
		text-align: center;
            }
            .col-where, .col-when {
                margin-right: 0.5%;
            }
            .col-who {
                margin-right: 0%;
            }
            .where-group, .when-group, .who-group{
                height: 60px;
                margin-bottom: 10px;
            }
            .where-text {
                width: 100%;
            }
            .when-date {
                width: 70%;
            }
            .time {
                width: 25%;
            }
            .where-text, .when-date {
                font-family: monospace;
                padding: 0 8px;
                height: 28px;
                box-sizing: border-box;
                border: none;
                background-color: white;
                border-radius: 4px;
            }
            ::placeholder {
                color: #424242;
		text-align: center;
            }
            .input-group {
                height: 28px;
                padding: 5px 0;
            }
            .adults, .kids, .infants {
                width: 32.5%;
                float: left;
                margin-right: 0.5%;
            }
            .number {
                width: 90%;
            }
            .search {
                font-family: monospace;
                font-size: 16px;
                height: 53px;
                width: 95%;
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                border-radius: 4px;
            }
            select {
                height: 28px;
                border: none;
                color: #424242;
                background-color: white;
                padding: 16px 20px;
                border-radius: 4px;
            }
            label {
                font-size: 80%;
                text-transform: uppercase;
            }
            .list {
                width: 102%;
                background-color: white;
                margin: 0 1rem 0 -3.5rem;
                padding: 1rem 0 1rem 5.5rem;
            }
            .list h2{
                text-align: center;
                margin: 2rem 0;
            }
			
	     .SEARCH{
              flex-direction: ROW;
   
            }
            .list img{
                width: 1200px;
            }
 	     

/*----------     Media queries  for macbook pro retina ---------------*/

@media screen and (min-width: 1600px){

    .list img{
        width: 1600px;
    }
    .list{
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }


}













