#policy-title {
	font-size: 2.0em;
	font-weight: bold;
	color: DarkCyan;
	text-transform: uppercase;
	padding-top: 15px;
}
#policy {
    overflow: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 1%;
    margin-left: 1%;
}
#nav, #footer {
    background-color: #f7f7f7;
    padding: 1px;
    text-align: center;
    margin: auto;
}
.page-content-container {
    float: left;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5%;
}
.panel {
    display: block;
    font-size: 110%;
    font-weight: bold;
	line-height: 2;
    margin-top: 5%;
    margin-bottom: 12%;
}
.panel a {
    color: #007cc3;
}
.panel a:hover {
	color: #f36f21;
}