
p, .page-content-container li{
    line-height: 1.5;
}
#safety-title {
	font-size: 2.0em;
	font-weight: bold;
	color: DarkCyan;
	text-transform: uppercase;
	padding-top: 15px;
}
#safety {
    overflow: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 1%;
    margin-left: 1%;
}
#nav, #footer {
    background-color: #f7f7f7;
    padding: 1px;
    text-align: center;
    margin: auto;
}
.page-content-container {
    float: left;
    width: 100%;
    margin-bottom: 12%;
    padding: 0.5%;
}
.heading-large {
	color:#f36f21;
    font-size: 110%;
    font-weight: bold;
}
.heading-small {
    font-weight: bold !important;
    font-size: 105%;
}
#content-header {
    color: #007cc3;
    font-size: 120%;
    font-weight: bold;
}
.micetype {
    width: 100%;
    font-size: 0.8em;
    margin-top: 15px;
    float: left;
    padding-bottom: 30px;
}
