
body{
	background-color: #f5f5f5f5;
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 2px;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: black;
}
section, header{
	margin: 0 8rem;
}
button{
	border-radius: 5px;
	padding: 0.5rem;
}
input{
	padding: 0.5rem;
}

/*----------     Start of navbar and menubar ---------------*/
nav ul li a{
	color: white;
}
nav ul li{
	display: inline-block;
	list-style: none;
	padding-left: 3rem;
}
nav ul li a:hover{
	color: black;
}
.button.yellow {
	background-color: #5eb12c;
	padding: 0.6rem 1rem;
}
.active{
	color: #01b7f2 !important;
}
.top-nav{
	background: #01b7f2;
    margin-top: -1rem;
    width: 124%;
    margin-left: -9rem;
    height: 2rem;

}
.toolbar-left{
	margin-left: 3.5rem;
}
.toolbar-right{
	float: right;
	margin-top: -3rem;
	margin-right: 8rem;
}
.logo{
	margin-bottom: 0.5rem;
}
.menu-bar{
	float: right;
	margin-top: -4.9rem;
}
.menu-bar ul li a{
	color: black;
    padding-left: 2rem;
    font-size: 17px;
    font-weight: bold;
}
.menu-bar ul li a:hover{
	color: #5eb12c;
	font-weight: bold;
}
/*----------     Start of Video section  ---------------*/

.carsouel_video{
	min-width: 102%;
	margin: 0 -1rem;
	position: absolute;
}
.description{
	margin: 0rem -2.4rem;
	padding-top: 3rem;
	position: absolute;
}
.description ul li{
    color: #f5f5f5;
    line-height: 2;
    font-weight: bold;
    letter-spacing: 3px;
    list-style: none;
}

.find-btn{
	float: right;
	margin-top: 14rem;
	
}

/*----------     Start of Search options  ---------------*/
.search-option{
	position: absolute;
	background-color: #000000ad;
	width: 102%;
	height: 16rem;
	margin: 28rem 0rem 0 -1rem;
	color: white;
	padding-left: 1rem;
}
.when, .where, .who{
	float: left;
	margin-right: 4.7rem;
	margin-top: 2rem;
}

.checkin, .checkout, .rooms, .adults, .kids, .dest{
	float: left;
	margin-right: 2rem;
}
.search-btn{
	
    margin-top: 6.4rem;
}
/*----------     Start of Popular destination  ---------------*/

.popular_destination{
	margin-top: 50rem;
	padding-bottom: 2rem;
}

.dest-nepal, .dest-india{
	float: left;
	margin: 1rem 7.7rem 1rem 0;
	box-shadow: 4px 3px 4px 1px lightgrey;
	border-left: solid #d3d3d32e 1px;
}
.dest-korea{
	float: right;
	box-shadow: 4px 3px 4px 1px lightgrey;
	margin: 1rem 0;
	border-left: solid #d3d3d32e 1px;
}
.from{
	float: right;
	margin: -6rem 2rem 0rem 0rem;
}
.booknow-btn{
	margin: 0 0 2rem 7rem;
}
.dest-nepal h4, .dest-nepal h4, .dest-india h4, .dest-korea h4{
	padding-left: 1rem;
}
.dest-nepal h5, .dest-india h5, .dest-korea h5{
	padding-left: 1rem;
	color: grey;
}
/*----------     Start of destination for honeymoon  ---------------*/
.dest-honeymoon{
	background-image: url("../images/honeymoon_background.jpeg");
	background-size: cover;
	height: 620px;
	background-attachment: fixed;
	margin: 28rem 0 2rem -1rem;
	width: 102%;
	color: white;
	margin-bottom: 3rem;
}
.couple{
	margin-top: 7.8rem;
	float: left;
	margin-right: 8rem;
}
.adv-text{
	padding: 2rem 0;
}
.paris, .australia{
	float: left;
	text-align: center;
	margin-right: 2.9rem;
}
.greece{
	text-align: center;
}
.dest-honeymoon img{
	opacity: 0.9;
	border-radius: 5px;
}
.seeall-btn{
	padding: 0.2rem 0.5rem;
}
/*----------     Start of newsletter and footer  ---------------*/
.discover, .social-media{
	float: left;
	margin-right: 15rem;
}
.aboutus{
	text-align: center;
	line-height: 1.5;
	margin-top: -1.3rem;
}
.discover img, .social-media img{
	margin-right: 0.5rem;
}
.discover a{
	text-transform: uppercase;
	line-height: 2.5;
	margin-top: -5px;
}
.social-media a{
	text-transform: capitalize;
	line-height: 2.5;
	margin-top: -1.5rem; 
}
.social-media a:hover{
	color: #5eb12c;
	font-weight: bold;
}
.newsletter{
	margin: 3rem 0 3rem 20rem;
}
.copyright{
	text-align: center;
	height: 2.5rem;
	background-color: #80808030;
	margin-left: -1rem;
	width: 102%;
	padding-top: 0.1rem;
}
.copyright h5{
	margin-top: 0.7rem;
}

/*----------     Media queries  ---------------*/

/*----------     Media queries  for laptop  ---------------*/
@media screen and (min-width: 1280px) and (max-width: 1600px){
	.top-nav{
		width: 130%;
	}
	.search-option{
		height: 13.7rem;
	}
	.when, .where, .who{
		margin: 1rem 3.2rem 0 0;
	}
	.popular_destination{
		margin-top: 47rem;
	}
	.dest-nepal, .dest-india{
		margin-right: 5.4rem;
	}
	.couple{
		margin-right: 3rem;
	}
	.paris, .australia{
		margin-right: 5.7rem
	}
	.paris img, .australia img, .greece img{
		width: 150px;
	}
	.paris img{
		height: 200px;
	}
	.discover, .social-media{
		margin-right: 13rem;
	}

}
/*----------     Media queries  for macbook pro retina ---------------*/

@media screen and (min-width: 1600px){
	.when, .where, .who{
		margin-right: 11.6rem;
	}
	.search-option{
		margin-top: 36rem;
	}
	.popular_destination{
		margin-top: 57rem;
	}
	.dest-nepal, .dest-india{
		margin-right: 15.7rem;
	}
	.paris, .australia{
		margin-right: 11.3rem;
	}
	.discover, .social-media{
		margin-right: 23rem;
	}
	.newsletter{
		margin-left: 29rem;
	}
}


/*----------     Media queries  for tv ---------------*/

@media screen and (min-width: 1920px){
	.top-nav{
		width: 124.5%;
	}
	.menu-bar{
		margin-right: -7.9 rem;
	}
	.carsouel_video{
		min-width: 107%;
	}
	.description ul li{
		line-height: 3.5;	
	}
	.search-option{
		width: 106%;
		margin: 46rem 0rem 0 -1rem;
	}
	.find-btn{
		margin-top: 19rem;
		margin-right: -7.8rem;
	}
	.when, .where, .who{
		margin-right: 14.3rem;
	}
	.popular_destination{
		margin-top: 68rem;
	}
	.dest-nepal, .dest-india{
		margin-right: 27.2rem;
	}
	.checkin, .checkout, .rooms, .adults, .kids, .dest{
		margin-right: 4rem;
	}
	.dest-korea{
		margin-right: -8rem;
	}
	.dest-honeymoon{
		width: 108%;
	}
	.couple{
		margin-right: 25rem;
	}
	.paris, .australia{
		margin-right: 13.9rem;
	}
	.discover, .social-media{
		margin-right: 38rem;
	}
	.aboutus{
		margin-right: -9rem;
	}
	.newsletter{
		margin: 4rem 0 3rem 44rem;
	}
	.copyright{
		width: 108%
	}
}


















