
.tour-package{
	height: 700px;
}
.tour-package .title{
	text-align: center;
	margin: 2rem 0;
}
.tour-package .box{
	position: relative;
}
.
.tour-package .box figure{
	position: relative;
	overflow: hidden;
}
.animated{
	visibility: visible;
}
.caption-title{
	color: white;
}
.paris-tour, .nepal-tour, .korea-tour, .india-tour, .indonesia-tour, .hawaii-tour{
	width: 33.33%;
	float: left;
}

.price{
	text-transform: uppercase;
	float: right;
	text-align: right;
	color: #fdb714;
	font-weight: bold;
	margin-top: 1.3rem;
}
.tour-package .box figcaption{
	width: 66%;
	background: rgba(45,62,82,0.9);
    position: absolute;
    left: 4rem;
    right: 7px;
    bottom: 13px;
    padding: 0 20px;
    -webkit-transform: translateY(140%);
    -moz-transform: translateY(140%);
    -ms-transform: translateY(140%);
    -o-transform: translateY(140%);
    transform: translateY(140%);
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease
}

/*----------     Media queries  for laptop  ---------------*/
@media screen and (max-width: 1280px){
	.tour-package{
		height: 700px;
    	margin-left: -5rem;
    	margin-right: -5rem;
	}


	.paris-tour, .nepal-tour, .korea-tour, .india-tour, .indonesia-tour, .hawaii-tour{
		width: 33.33%;
	}
}

/*----------     Media queries  for macbook pro retina ---------------*/

@media screen and (min-width: 1600px){
	.tour-package .box figcaption{
		width: 56%;
	}

}













